<div class="container">
    <h1>Inventory</h1>
        <input class="form-control" id="myInput" type="text" placeholder="Search Inventory...">
        <table class="table table-hover table-condensed">
            <thead> 
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th> 
            </thead>
            <tbody id="myTable"> 
                {{#each item}}
                <tr> 
                    <td>{{it_name}}</td>
                    <td>{{quantity}}</td> 
                    <td>${{price}}</td>
                    <td><button class="btn btn-danger btn-sm" onclick="deleteitem({{../loginId}}, {{it_item_id}})">Delete</button></td>
                    <td><button class="btn btn-primary btn-sm" onclick="location.href='/inventory/item/{{../loginId}}/{{it_item_id}}'">Update</a></td>
                </tr> 
                {{/each}} 
        </table> 

        <div class="panel-group" id="addItem">
            <div class="panel">
                <a data-toggle="collapse" data-parent="#addItem" href="#addItemForm">Add Item &raquo;
                </a>
                <div id="addItemForm" class="panel-collapse collapse">
                    <form id="additem" action="/inventory/{{loginId}}" method="post">
                        
						<div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="itemName">
                        </div>
                        
                        <div class="form-group">
                            <label for="name">Quantity</label>
                            <input type="text" class="form-control" name="itemQuantity">
                        </div>

						<div class="form-group">
                            <label for="name">Price</label>
                            <input type="text" class="form-control" name="itemPrice">
                        </div>
                       
					<input class="btn btn-primary" type="submit" value="Submit">                                       
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Borrowed from: https://www.w3schools.com/bootstrap/bootstrap_filters.asp -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>